<section class="search">
  <form class="search-form" id="search-form" name="search">
    <div class="search-container">
      <input
        class="search-input"
        type="text"
        name="query"
        autocomplete="off"
        placeholder="Search images..."
      />
    </div>
  </form>
  <ul class="gallery">
    <!-- Список <li> с карточками изображений -->
  </ul>
  <button class="load-more is-hidden">Load more...</button>
  <button class="go-up">
    <i class="material-icons arrow">arrow_circle_up</i>
    <span class="go-up__text is-hidden">Go Up</span>
  </button>
</section>
